html{
    scroll-behavior: smooth;

}


body{
 
     background-color: #081216;
     font-family: 'Montserrat', sans-serif;
     width: 100%;
     height: auto;
     margin: 0%;
 }


 nav {
    width: 100%;
    height: 100px;
    background: #091317;
  

  }


  nav ul {
    width: 50%;
    height: 100px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }


  .navli{

    margin: 30px;
    font-size: 16px;
    font-weight: 600;

    
  }  

  .home-button{
      width: 30%;
      height: 100px;
      margin: 0;
      float: left;
      display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .back{
    width: 100%;
  }


nav a{
    color: #55BB9C;
    text-decoration: none;
  }

nav a.current {
    color: #000000;
    font-weight: bold;
  }


.icon-container{
  display: none;
}






.page-wrapper1{
    width: 100%;
 

}




.landing-page{
 width: 100%;

}




.title-header{
  width: 100%;
  height: 680px;

  display: flex;
  justify-content: center;
  align-items: center;

background-image: url('images/background-home.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  padding-bottom: 200px;

}




.title-text{
  width: 1000px;
text-align: center
}


.title{
  width: 650px;

margin: auto;

}



.subhead{
  width: 100%;
  font-family: 'Laila' , sans-serif;
  font-size: 38px;
  font-weight: bold;
  color: #F0F6F1;
 margin: 0;
 
  line-height: 1.5em;
  letter-spacing: -0.03em;


 
}


.description{
  width: 100%;
  font-family: 'Laila' , sans-serif;
  font-size: 25px;
  font-weight: 600;
  
 color: #F0F6F1;
 margin: 0;

 line-height: 161.4%;
  letter-spacing: -0.03em;


}


.call-button{
  width: 300px;
  height: 70px;
  background-color: #3B8B6C;
  border: none;
  border-radius: 7px;

  display: flex;
    justify-content: center;
    align-items: center;


    font-size: 30px;
    font-weight: 500;
    color: rgb(255, 255, 255);

    margin: auto;
    margin-top: 30px;
}




























.right-container{
  width: 100%;

text-align: center;

}



.helpful-tips{
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-family: 'Laila' , sans-serif;
  font-weight: 600;
  padding-top: 100px;
  margin-bottom: 50px;
  color: #385E6C;


}



.services-container{
  width: 1324px;

margin: auto;

display: inline-block;


}

.service-box{
    width: 375px;
    height: 350px;
   
    border-radius: 10px;
    
 margin: 25px;


float: left;


}




.service-header{
   width: 375px;
  position: absolute;
}



.service-header-text{

    font-family: 'Laila' , sans-serif;
    font-size: 32px;
    font-weight: 600;
   
    color: #201414b7;
    text-align: left;
  
  
    margin-bottom: 10px;
    margin-top: 60px;
    margin-left: 5%;
    line-height: 45px;
   

}





.service-image{
 

 position: absolute;
  z-index: -1;
  border-radius: 10px;

}

.service-image img{
  width: 375px;
  height: 350px;
  margin: 0;
}






.service-description{
  width: 375px;
  height: 165px;



 
 

}


.service-description-text{
  width: 90%;
  
  margin: auto;

  font-size: 15px;
  font-weight: 500;
  text-align: left;
  line-height: 30px;
  color: #ffffff;

}



.view-more-button{
  width: 160px;
  height: 50px;
font-size: 16px;
font-weight: 700;
color: #132f3a;
margin: 0;

border-radius: 250px;

    display: flex;
    justify-content: center;
    align-items: center;


    position: relative;
    top: 325px;
    left: 160px;
   
    
}




.service-link{
  text-decoration: none;

}
















.page-wrapper2{
  width: 100%;
  margin-top: 10%;

}






.warnings-container{
  width: 1300px;
  margin: auto;


}


.warning{
  width: 100%;
  background-color: #e5f0e5;

 

  border-radius: 20px;

  padding-top: 50px;
  padding-bottom: 50px;

  margin-bottom: 30px;
  
  

}

.warning-image{
  width: 150px;
  margin-left: 5%;
}



.warning-text{
  width: 100%;
  margin-left: 5%;
}


.warning-title{
  font-size: 32px;
  font-weight: 700;
  font-family: 'Laila' , sans-serif;
  margin-top: 10px;
}

.warning-message{
  width: 80%;
 
  margin-left: 3%;
 
  font-size: 19px;
  font-weight: 600;
  line-height: 35px;
  text-align: left;
line-height: 40px;
  color: #132f3a;
}



.readmore-resources-button-container{
  width: 100%;
  margin-top: 30px;
}


.readmore-resources-button{
  width: 180px;
  height: 60px;
  background: none;
 
  border-radius: 100px;


  font-size: 16px;
  font-weight: 600;
  margin-left: 1000px;
}




















/* Responsive section*/ 
