html{
    scroll-behavior: smooth;

}


body{
 
     background-color: #F0F6F1;
     font-family: 'Montserrat', sans-serif;
     width: 100%;
     height: auto;
     margin: 0%;
 }


 nav {
    width: 100%;
    height: 100px;
    background: #091317;
  
  

  }


  nav ul {
    width: 50%;
    height: 100px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }


  .navli{

    margin: 30px;
    font-size: 16px;
    font-weight: 600;

    
  }  

  .home-button{
      width: 30%;
      height: 100px;
      margin: 0;
      float: left;
      display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .back{
    width: 100%;
  }


nav a{
    color: #55BB9C;
    text-decoration: none;
  }

nav a.current {
    color: #000000;
    font-weight: bold;
  }


.icon-container{
  display: none;
}






.page-wrapper1{
    width: 100%;
 

}




.landing-page{
 width: 100%;


}




.title-header{
  width: 100%;
  height: 680px;

  display: flex;
  justify-content: center;
  align-items: center;

background-image: url('images/background-home.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  

}




.title-text{
  width: 1000px;
text-align: center
}


.title{
  width: 650px;

margin: auto;

}



.subhead{
  width: 100%;
  font-family: 'Laila' , sans-serif;
  font-size: 38px;
  font-weight: bold;
  color: #F0F6F1;
 margin: 0;
 
  line-height: 1.5em;
  letter-spacing: -0.03em;


 
}


.description{
  width: 100%;
  font-family: 'Laila' , sans-serif;
  font-size: 25px;
  font-weight: 600;
  
 color: #F0F6F1;
 margin: 0;

 line-height: 161.4%;
  letter-spacing: -0.03em;


}


.call-button{
  width: 300px;
  height: 70px;
  background-color: #3B8B6C;
  border: none;
  border-radius: 7px;

  display: flex;
    justify-content: center;
    align-items: center;


    font-size: 30px;
    font-weight: 500;
    color: rgb(255, 255, 255);

    margin: auto;
    margin-top: 30px;
}




























.right-container{
  width: 100%;

text-align: center;

}



.helpful-tips{
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-family: 'Laila' , sans-serif;
 
  font-weight: 600;
  margin-bottom: 20px;
  color: #385E6C;

  

}



.services-container{
  width: 1300px;

margin: auto;

display: inline-block;


}

.service-box{
    width: 375px;
    height: 70px;
    border: 2px solid #132f3a3f;
    background-color: #F0F6F1;
    border-radius: 10px;
    
 margin: 25px;


float: left;


}


.service-box :active{
  background-color: #f4fcf8;
}


.service-header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



.service-header-text{
    width: 78%;
  
   
    font-size: 18px;
    font-weight: 700;
   
    color: #132f3ad0;
    text-align: left;
  

    
}

.plusbar{
  width: 13%;
  font-size: 40px;
  font-weight: 400;
  color: #132f3ac4;

  
}


.service-description{
  width: 100%;

display: none;

}


.service-description-text{
  width: 90%;
  margin: auto;

  font-size: 16px;
  font-weight: 600;
  text-align: left;
  line-height: 26px;
  color: #132f3a;
  margin-bottom: 10px;

  border-bottom: 1px solid #132f3a59;
  padding-bottom: 10px;

}



.view-more-button{
  width: 100%;
font-size: 22px;
font-weight: 700;
color: #132f3ac2;
margin: 0;

}


.service-link{
  text-decoration: none;
}




















.page-wrapper2{
  width: 100%;
  margin-top: 10%;
text-align: center;
}






.warnings-container{
  width: 1300px;
  background-color: #385E6C;
  display: inline-block;


}


.warning{
  width: 425px;
  background-color: #F0F6F1;
  float: left;
  margin-left: 12px;

}

.warning-image{
  width: 150px;
}



.warning-text{
  width: 100%;
}


.warning-title{
  font-size: 26px;
  font-weight: 600;
  
  margin-top: 10px;
}

.warning-message{
  width: 90%;
  margin: auto;
  font-size: 17px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
}



.readmore-resources-button-container{
  width: 100%;
  margin-top: 30px;
}


.readmore-resources-button{
  width: 180px;
  height: 60px;
  background: none;
 
  border-radius: 100px;


  font-size: 16px;
  font-weight: 600;
}




















/* Responsive section*/ 
